---
import Icon from "@components/ui/icons/Icon.astro";

const { count, description, index, icon } = Astro.props;

interface Props {
  count: string;
  description: string;
  index: number;
  icon: string;
}
---

<li class="-m-0.5 flex flex-col p-4 sm:p-8">
  <div
    class="mb-2 flex gap-x-2 text-2xl font-semibold text-neutral-800 dark:text-neutral-200 sm:text-3xl"
  >
    <Icon name={icon} />
    {count}
  </div>
  <p class="text-sm text-neutral-600 dark:text-neutral-400 sm:text-base">
    {description}
  </p>
</li>
